{% extends 'base.html' %}
{% block content %}


{% if api %}
    {% if api == "Error..." %}
        print("There was an issue with your ticker symbol, please try again")
    {% else %}

        <h2>{{ api.companyName }}</h2><br/>
        Price: ${{ api.latestPrice }}<br/>
        Previous Close: {{ api.previousClose }}<br/>
        Market Cap: {{ api.marketCap }}<br/>
        YTD Change: {{ api.ytdChange }}<br/>
        52Wk High: {{ api.week52High }}
        52Wk Low: {{ api.week52Low }}

    {% endif %}
{% endif %}


{% endblock %}
